<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="pe.gob.muni.apimercado.mapper.IComercianteMapper">
	
	<resultMap id="PersonaResultMap" type="Persona" />
	
	<resultMap id="ComercianteResultMap" type="Comerciante" extends="PersonaResultMap">
		<id property="idComerciante" column="id"/>
	</resultMap>

	<select id="getEntity" resultMap="ComercianteResultMap">
		select A.id,A.ruc,A.razon_social,A.personas_id,
		B.id,
		B.nombres,
		B.apellidos,
		B.dni,
		B.telefono,
		B.direccion,
		B.correo,
		B.fecha_nacimiento,
		B.estado,
		B.fecha_creacion,
		B.creado_por,
		B.fecha_modifcacion,
		B.modifcado_por,
		B.eliminado_por
		 from comerciantes A , personas B where A.personas_id = B.id and A.id = #{id}
	</select>
	
	<select id="getAllEntitys" resultMap="ComercianteResultMap">
		select A.id,A.ruc,A.razon_social,A.personas_id,
		B.id,
		B.nombres,
		B.apellidos,
		B.dni,
		B.telefono,
		B.direccion,
		B.correo,
		B.fecha_nacimiento,
		B.estado,
		B.fecha_creacion,
		B.creado_por,
		B.fecha_modifcacion,
		B.modifcado_por,
		B.eliminado_por
		 from comerciantes A , personas B where A.personas_id = B.id
	</select>

	<insert id="saveEntity" parameterType="Comerciante">
		insert into
		comerciantes(
		personas_id,ruc,razon_social)
		values(#{personas_id},#{ruc},#{razon_social})
	</insert>

	<update id="updateEntity" parameterType="Comerciante">
		Update comerciantes
		set
		ruc = #{ruc},
		razon_social = #{razon_social}
		where id = #{id}
	</update>
	
	<select id="pagingEntitys" resultMap="ComercianteResultMap" parameterType="pe.gob.muni.apimercado.utils.dto.PageTable">
		select * from(
		select A.id,A.ruc,A.razon_social,A.personas_id,
		B.nombres,
		B.apellidos,
		B.dni,
		B.telefono,
		B.direccion,
		B.correo,
		B.fecha_nacimiento,
		B.estado,
		B.fecha_creacion,
		B.creado_por,
		B.fecha_modifcacion,
		B.modifcado_por,
		B.eliminado_por
		from comerciantes A , personas B where A.personas_id = B.id) T 
		<where>
			<if test="search != null">
				apellidos LIKE CONCAT(#{search},'%')
			</if>
		</where>
		<if test="sort != '' and sort != null">
			ORDER BY ${sort} ${order}
		</if>
	</select>

</mapper>