<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="pe.gob.muni.apimercado.mapper.IComercianteMapper">

	<resultMap id="ComercianteResultMap" type="Comerciante" >
		<id property="idComerciante" column="id"/>
		<result property="ruc" column="ruc"/>
		<result property="razon_social" column="razon_social"/>
		<association property="persona" column="persona_id" javaType="Persona" select = "pe.gob.muni.apimercado.PersonaMapper.getEntity"/>
	</resultMap>

	<select id="getEntity" resultMap="ComercianteResultMap">
		select A.id,A.ruc,A.razon_social,
		from
		comerciantes A where A.id = #{id}
	</select>

	<insert id="saveEntity" parameterType="Comerciante">
		insert into
		comerciantes(
		personas_id,ruc,razon_social)
		values(#{personas_id},#{ruc},#{razon_social})
	</insert>

	<update id="updateEntity" parameterType="Comerciante">
		Update comerciantes
		set
		personas_id = #{personas_id},
		ruc = #{ruc},
		razon_social = #{razon_social}
		where id = #{id}
	</update>

	<select id="pagingEntitys" resultMap="ComercianteResultMap" parameterType="pe.gob.muni.apimercado.utils.dto.PageTable">
		select id,
		fecha_creacion,
		creado_por,
		fecha_modificacion,
		modificado_por,
		eliminado_por,
		estado,
		dni,
		ruc,
		nombres,
		apellidos,
		razon_social,
		telefono,
		correo,
		direccion
		from comerciantes
		<where>
			<if test="search != null">
				CONCAT(nombres,' ',apellidos) LIKE CONCAT('%',#{search},'%')
			</if>
		</where>
		<if test="sort != null">
			ORDER BY ${sort} ${order}
		</if>
	</select>

</mapper>