<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="pe.gob.muni.apimercado.mapper.IComercianteMapper">

	<resultMap id="ComercianteResultMap" type="Comerciante" />

	<select id="getEntity" resultMap="ComercianteResultMap">
		select id,
		fecha_creacion,
		creado_por,
		fecha_modificacion,
		modificado_por,
		eliminado_por,
		estado,
		dni,
		ruc,
		nombres,
		apellidos,
		razon_social,
		telefono,
		correo,
		direccion
		from
		comerciantes where id = #{id}
	</select>

	<insert id="saveEntity" parameterType="Comerciante">
		insert into
		comerciantes(
		id,fecha_creacion,creado_por,fecha_modificacion,
		modificado_por,eliminado_por,estado,dni,
		ruc,nombres,apellidos,razon_social,
		telefono,correo,direccion)
		values(
		#{id},#{fecha_creacion},#{creado_por},#{fecha_modificacion},
		#{modificado_por},#{eliminado_por},#{estado},#{dni},
		#{ruc},#{nombres},#{apellidos},#{razon_social},
		#{telefono},#{correo},#{direccion})
	</insert>

	<update id="deleteEntity">
		Update comerciantes
		set estado = 0
		where id =
		#{id}
	</update>

	<update id="updateEntity" parameterType="Comerciante">
		Update
		comerciantes
		set
		id
		= #{id},fecha_creacion = #{fecha_creacion},
		creado_por = #{creado_por},
		fecha_modificacion = #{fecha_modificacion},
		modificado_por =
		#{modificado_por},eliminado_por = #{eliminado_por},
		estado =
		#{estado},dni = #{dni},
		ruc = #{ruc},nombres = #{nombres},
		apellidos =
		#{apellidos},razon_social = #{razon_social},
		telefono =
		#{telefono},correo = #{correo},
		direccion = #{direccion}
		where id =
		#{id}
	</update>

	<select id="pagingEntitys" resultMap="ComercianteResultMap" parameterType="pe.gob.muni.apimercado.utils.dto.PageTable">
		select id,
		fecha_creacion,
		creado_por,
		fecha_modificacion,
		modificado_por,
		eliminado_por,
		estado,
		dni,
		ruc,
		nombres,
		apellidos,
		razon_social,
		telefono,
		correo,
		direccion
		from comerciantes
		<where>
			<if test="search != null">
				CONCAT(nombres,' ',apellidos) LIKE CONCAT('%',#{search},'%')
			</if>
		</where>
		<if test="sort != null">
			ORDER BY ${sort} ${order}
		</if>
	</select>

</mapper>