<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="pe.gob.muni.apimercado.mapper.IDashBoardMapper">

	<resultMap id="ComercianteResultMap" type="ComercianteMontoDto"/>
	
	<resultMap id="MontoResultMap" type="Monto" />

	<select id="mayor_recaudacion"
		resultMap="ComercianteResultMap"
		parameterType="pe.gob.muni.apimercado.utils.dto.GeneralPageTable">		
		select A.id,
		B.nombres,
		B.apellidos,
		B.dni,
        X.monto
		from comerciantes A 
        inner join personas B on A.personas_id = B.id 
        inner join (select comerciantes_id, sum(monto_pagado) monto from(
        select C.comerciantes_id,A.monto_pagado  
        from pagos A
		inner join tickets_pagos B on A.id = B.pagos_id
		inner join tickets C on C.id = B.tickets_id 
		<where>
			<if test="mercados_id != 0">
				C.mercados_id = #{mercados_id}
			</if>
		</where>
		) T
        group by comerciantes_id
        order by monto desc) X on A.id = X.comerciantes_id
		limit 10
	</select>

	<select id="top_10_deudores" resultMap="ComercianteResultMap"
		parameterType="pe.gob.muni.apimercado.utils.dto.GeneralPageTable">
		select
		A.id,
		B.nombres,
		B.apellidos,
		B.dni,
        X.total
		from comerciantes A 
        inner join personas B on A.personas_id = B.id 
        inner join (
		select T.comerciantes_id ,T.total from (
		select A.comerciantes_id, sum(C.monto) total from
		tickets A
		inner join puestos B on A.puestos_id = B.id
		inner join tarifas C on B.conceptos_id = C.conceptos_id and C.estado = 1
		<where>
			A.pagado = 0
			<if test="mercados_id != 0">
				and A.mercados_id = #{mercados_id}
			</if>
		</where>
		group by A.comerciantes_id) T
		order by T.total desc
		) X on X.comerciantes_id = A.id
        limit 10;
	</select>

	<select id="totalCobrado" resultMap="MontoResultMap"
		parameterType="pe.gob.muni.apimercado.utils.dto.GeneralPageTable">
		select T.fecha_pago fecha, sum(T.monto_pagado) total from (
		select cast(A.fecha_pago as date) fecha_pago, A.monto_pagado from pagos A
		inner join tickets_pagos B on A.id = B.pagos_id
		inner join tickets C on C.id = B.tickets_id
		<where>
			<if test="mercados_id != 0">
				C.mercados_id = #{mercados_id}
			</if>
			<if test="fecha_incio != null and fecha_fin != null "  >
				AND cast(A.fecha_pago as date) >= cast(#{fecha_incio} as date) and cast(#{fecha_fin} as date) >= cast(A.fecha_pago as date) 
			</if>
		</where>
		) T group by T.fecha_pago
		order by T.fecha_pago ASC
	</select>

	<select id="totalPendiente" resultMap="MontoResultMap"
		parameterType="pe.gob.muni.apimercado.utils.dto.GeneralPageTable">
		select A.fecha_ticket fecha, sum(C.monto) total from
		tickets A
		inner join
		puestos B on A.puestos_id = B.id
		inner join tarifas C on B.conceptos_id
		= C.conceptos_id and C.estado = 1
		<where>
			<if test="mercados_id != 0">
				A.mercados_id = #{mercados_id}
			</if>
			<if test="fecha_incio != null and fecha_fin != null "  >
				AND cast(A.fecha_ticket as date) >= cast(#{fecha_incio} as date) and cast(#{fecha_fin} as date) >= cast(A.fecha_ticket as date) 
			</if>
		</where>
		group by A.fecha_ticket
		order by A.fecha_ticket asc;
	</select>

	<select id="totalComerciantes" resultType="long"
		parameterType="pe.gob.muni.apimercado.utils.dto.GeneralPageTable">
		select count(B.comerciantes_id) from puestos A
		inner join puestos_comerciantes B on A.id = B.puestos_id
        <where>
			<if test="mercados_id != 0">
				A.mercados_id = #{mercados_id}
			</if>
		</where>
	</select>

	<select id="totalPuestos" resultType="long"
		parameterType="pe.gob.muni.apimercado.utils.dto.GeneralPageTable">
		select count(*) from puestos A 
		<where>
			<if test="mercados_id != 0">
				A.mercados_id = #{mercados_id}
			</if>
		</where>
	</select>


</mapper>