<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pe.gob.muni.apimercado.mapper.IModuloMapper">

	<resultMap id="ModuloResultMap" type="Modulo" />

	<select id="getAllEntitys" resultMap="ModuloResultMap">
		select A.codigo,
		A.nombre,
		A.descripcion 
		from modulos A
	</select>
	
	<select id="getModulosByUsuario" resultMap="ModuloResultMap">
		select D.codigo,
		D.nombre,
		D.descripcion
		from usuarios A
		inner join perfiles_Moduloes B on A.codigoPerfil = B.perfiles_codigo
		inner join roles C on C.codigo = B.roles_codigo
		inner join modulos D on D.codigo = C.modulos_codigo
		where A.usuario = #{usuario}
	</select>
	
</mapper>