<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pe.gob.muni.apimercado.mapper.IModuloMapper">

	<resultMap id="ModuloResultMap" type="Modulo" />

	<select id="getAllEntitys" resultMap="ModuloResultMap">
		select A.id,
		A.nombre,
		A.nombre_menu,
		A.icono,
		A.descripcion,
		A.estado
		from modulos A
	</select>
	
	<select id="getModulosByUsuario" resultMap="ModuloResultMap">
		select distinct D.id,
		D.nombre,
		D.nombre_menu,
		A.icono,
		D.descripcion,
		D.estado
		from usuarios A
		inner join perfiles_roles B on A.perfiles_codigo = B.perfiles_codigo
		inner join roles C on C.id = B.roles_codigo
		inner join modulos D on D.id = C.modulos_codigo
		where A.usuario = #{usuario}
	</select>
	
</mapper>