<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pe.gob.muni.apimercado.mapper.IPagoMapper">

	<resultMap id="PagoResultMap" type="Pago" />
	
	<resultMap id="TicketPagoResultMap" type="TicketPago" />

	<select id="getEntity" resultMap="PagoResultMap">
		select id,
		fecha_pago,
		serie,
		correlativo,
		monto_pagado,
		concepto,
		observaciones,
		estado,
		fecha_creacion,
		creado_por,
		fecha_modifcacion,
		modifcado_por,
		eliminado_por
		from pagos where id = #{id}
	</select>
	
	<select id="getAllEntitys" resultMap="PagoResultMap">
		select id,
		fecha_pago,
		serie,
		correlativo,
		monto_pagado,
		concepto,
		observaciones,
		estado,
		fecha_creacion,
		creado_por,
		fecha_modifcacion,
		modifcado_por,
		eliminado_por
		from pagos
	</select>

	<insert id="saveEntity" parameterType="Pago" useGeneratedKeys="true" keyProperty="id"  keyColumn="id"> 
		insert into pagos(
		fecha_pago,serie,
		correlativo,monto_pagado,concepto,observaciones,
		estado,fecha_creacion, creado_por, fecha_modifcacion,
		modifcado_por,eliminado_por)
		values(
		#{fecha_pago},#{serie},#{correlativo},#{monto_pagado},#{concepto},#{observaciones},
		#{estado},#{fecha_creacion},#{creado_por},#{fecha_modifcacion},
		#{modifcado_por},#{eliminado_por})
	</insert>
	
	<insert id="asociarTicketPago" parameterType="TicketPago">
		insert into tickets_pagos(
		tickets_id,pagos_id)
		values
	</insert>
	
	<insert id="asociarTicketPago" parameterType="java.util.List">
		insert into tickets_pagos(tickets_id,pagos_id)
		values(
		<foreach item="item" collection="list" separator=",">
			(#{item.tickets_id},#{item.pagos_id})
		</foreach>
	</insert>

	<update id="deleteEntity">
		Update pagos
		set estado = 0
		where id = #{id}
	</update>

	<update id="updateEntity" parameterType="Pago">
		Update pagos
		set
		fecha_pago = #{fecha_pago},
		serie = #{serie},
		correlativo = #{correlativo},
		monto_pagado = #{monto_pagado},
		concepto = #{concepto},
		observaciones = #{observaciones},
		estado = #{estado},
		fecha_creacion = #{fecha_creacion},
		creado_por = #{creado_por}, fecha_modifcacion = #{fecha_modifcacion},
		modifcado_por = #{modifcado_por},eliminado_por = #{eliminado_por}
		where id = #{id}
	</update>
	
	<insert id="saveAllPagos" parameterType="java.util.List">
		insert into pagos(
		fecha_pago,serie,
		correlativo,monto_pagado,concepto,observaciones,
		estado,fecha_creacion, creado_por, fecha_modifcacion,
		modifcado_por,eliminado_por)
		values
		<foreach item="item" collection="list" separator=",">
			(#{fecha_pago},#{serie},#{correlativo},#{monto_pagado},#{concepto},#{observaciones},
			 #{estado},#{fecha_creacion},#{creado_por},#{fecha_modifcacion},#{modifcado_por},#{eliminado_por})	
		</foreach>
	</insert>

</mapper>