<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pe.gob.muni.apimercado.mapper.IParametroMapper">

	<resultMap id="ParametroResultMap" type="Parametro" />

	<select id="getEntity" resultMap="ParametroResultMap">
		select
		codigo,subcodigo,tabla,valor_entero,
		valor_decimal,valor_cadena1,valor_cadena2,
		fecha_creacion,fecha_modifcacion,creado_por,
		modifcado_por,eliminado_por,estado
		from
		parametros where codigo=
		#{codigo} and subcodigo=#{subcodigo}
	</select>

	<select id="getAllEntitys" resultMap="ParametroResultMap">
		select
		codigo,subcodigo,tabla,valor_entero,
		valor_decimal,valor_cadena1,valor_cadena2,
		fecha_creacion,fecha_modifcacion,creado_por,
		modifcado_por,eliminado_por,estado
		from
		parametros where codigo=
		#{codigo}
	</select>

	<insert id="saveEntity" useGeneratedKeys="true" keyProperty="id"
		parameterType="Parametro">
		insert into parametros(codigo,subcodigo,tabla,valor_entero,
		valor_decimal,valor_cadena1,valor_cadena2,
		fecha_creacion,fecha_modifcacion,creado_por,
		modifcado_por,eliminado_por,estado)
		values(#{codigo},#{subcodigo},#{tabla},
		#{valor_entero},#{valor_decimal},#{valor_cadena1},#{valor_cadena2},
		#{fecha_creacion},#{fecha_modifcacion},#{creado_por},#{modifcado_por},#{eliminado_por},#{estado})
	</insert>

	<insert id="saveAllEntity" parameterType="Parametro">
		insert into parametros(codigo,subcodigo,tabla,valor_entero,
		valor_decimal,valor_cadena1,valor_cadena2,
		fecha_creacion,fecha_modifcacion,creado_por,
		modifcado_por,eliminado_por,estado)
		values
		<foreach item="item" collection="list" separator=",">
			(#{item.codigo},#{item.subcodigo},#{item.tabla},
			#{item.valor_entero},#{item.valor_decimal},#{item.valor_cadena1},#{item.valor_cadena2},
			#{item.fecha_creacion},#{item.fecha_modifcacion},#{item.creado_por},#{item.modifcado_por},
			#{item.eliminado_por},#{item.estado})
		</foreach>
	</insert>

	<update id="deleteEntity">
		Update parametros
		set estado = 0
		where codigo = #{id} and subcodigo = #{subcodigo}
	</update>

	<update id="updateEntity" parameterType="Persona">
		Update parametros
		set
		tabla = #{tabla},
		valor_entero = #{valor_entero},valor_decimal = #{valor_decimal},valor_cadena1 =
		#{valor_cadena1},
		valor_cadena2 = #{valor_cadena2},fecha_creacion = #{fecha_creacion},creado_por =
		#{creado_por},
		fecha_modifcacion = #{fecha_modifcacion} ,modifcado_por =
		#{modifcado_por},eliminado_por = #{eliminado_por},
		estado = #{estado},
		where codigo = #{codigo} and subcodigo = #{subcodigo}
	</update>

</mapper>