<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pe.gob.muni.apimapper.IPartidaMapper">

	<resultMap id="PartidaResultMap" type="Partida" />

	<select id="getEntity" resultMap="PartidaResultMap">
		select id,
		fecha_creacion,
		creado_por,
		fecha_modificacion,
		modificado_por,
		eliminado_por,
		estado,
		codigo,
		descripcion
		from partidas where id = #{id}
	</select>

	<insert id="saveEntity" parameterType="Partida">
		insert into partidas(
		id, fecha_creacion, creado_por, fecha_modificacion,
		modificado_por,
		eliminado_por, estado, codigo,
		descripcion)
		values(
		#{id},#{fecha_creacion},#{creado_por},#{fecha_modificacion},
		#{modificado_por},#{eliminado_por},#{estado},
		#{codigo},#{descripcion})
	</insert>


	<update id="deleteEntity">
		Update partidas
		set estado = 0
		where id = #{id}
	</update>


	<update id="updateEntity" parameterType="Partida">
		Update partidas
		set
		id = #{id},fecha_creacion = #{fecha_creacion},
		creado_por =
		#{creado_por}, fecha_modificacion = #{fecha_modificacion},
		modificado_por = #{modificado_por},eliminado_por = #{eliminado_por},
		estado = #{estado},
		codigo = #{codigo}, descripcion = #{descripcion}
		where id = #{id}
	</update>

	<select id="pagingEntitys" resultMap="PartidaResultMap">
		select  id,
		fecha_creacion,
		creado_por,
		fecha_modificacion,
		modificado_por,
		eliminado_por,
		estado,
		codigo,
		descripcion
		from partidas
		where descripcion like CONCAT(#{valorBusqueda},'%')
		limit #{inicio},#{fin}
	</select>

	<select id="totalRecordEntity" resultType="int">
		select count(A.id)
		from partidas A
		where A.descripcion like
		CONCAT(#{valorBusqueda},'%')
	</select>

</mapper>