<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pe.gob.muni.apimercado.mapper.IPuestoMapper">

	<resultMap id="PuestoResultMap" type="Puesto" />

	<select id="getEntity" resultMap="PuestoResultMap">
		select
		id,
		codigo,
		mercados_id,
		conceptos_id,
		cobradores_id,
		ubicacion_id,
		giro_id,
		estado,
		fecha_creacion,
		creado_por,
		fecha_modificacion,
		modificado_por,
		eliminado_por
		from puestos where id = #{id}
	</select>

	<insert id="saveEntity" parameterType="Puesto">
		insert into puestos(
		codigo,mercados_id,conceptos_id,cobradores_id,ubicacion_id,
		giro_id,estado,fecha_creacion,creado_por,fecha_modificacion,
		modificado_por,	eliminado_por)
		values(
		#{codigo},#{mercados_id},#{conceptos_id},#{cobradores_id},#{ubicacion_id},
		#{giro_id},#{estado},#{fecha_creacion},#{creado_por},#{fecha_modificacion},
		#{modificado_por},#{eliminado_por})
	</insert>

	<update id="deleteEntity">
		Update puestos
		set estado = 0
		where id = #{id}
	</update>

	<update id="updateEntity" parameterType="Puesto">
		Update puestos
		set
		codigo = #{codigo},
		mercados_id = #{mercados_id},
		conceptos_id = #{conceptos_id},
		cobradores_id = #{cobradores_id},
		ubicacion_id = #{ubicacion_id},
		giro_id = #{giro_id},
		estado = #{estado},
		fecha_creacion = #{fecha_creacion},
		creado_por = #{creado_por}, 
		fecha_modificacion = #{fecha_modificacion},
		modificado_por = #{modificado_por},
		eliminado_por = #{eliminado_por}
		where id = #{id}
	</update>

	<select id="pagingEntitys" resultMap="PuestoResultMap" parameterType="pe.gob.muni.apimercado.utils.dto.PageTable">
		select id,
		codigo,
		mercados_id,
		conceptos_id,
		cobradores_id,
		ubicacion_id,
		giro_id,
		estado,
		fecha_creacion,
		creado_por,
		fecha_modificacion,
		modificado_por,
		eliminado_por
		from puestos
		<if test="sort != null">
			ORDER BY ${sort} ${order}
		</if>
	</select>


</mapper>