<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pe.gob.muni.apimercado.mapper.IRolMapper">

	<resultMap id="RolResultMap" type="Rol" />

	<select id="getRolesByPerfil" resultMap="RolResultMap">
		select A.codigo,
		A.nombre,
		A.descripcion
		from mercado.roles A
		inner join mercado.perfiles_roles B on A.codigo = B.roles_codigo
		where A.perfil = #{codigoPerfil} and A.estado = 1
	</select>
	
	<select id="getEntity" resultMap="RolResultMap">
		select A.codigo,
		A.nombre,
		A.descripcion,
		A.modulos_codigo
		from mercado.roles A
		where A.codigo = #{codigo}
	</select>
	
	<select id="getAllEntitys" resultMap="RolResultMap">
		select A.codigo,
		A.nombre,
		A.descripcion,
		A.modulos_codigo,
		A.estado
		from mercado.roles A
	</select>
	
	<select id="pagingEntitys" resultMap="RolResultMap">
		select A.codigo,
		A.nombre,
		A.descripcion,
		A.modulos_codigo,
		A.estado
		from mercado.roles A
		where A.nombre like CONCAT(#{valorBusqueda},'%')  
		limit #{inicio},#{fin}
	</select>
	
	<select id="totalRecordEntity" resultType="int">
		select count(A.codigo) 
		from mercado.roles A
		where A.nombre like CONCAT(#{valorBusqueda},'%')
	</select>
	
	<select id="getRolesByUsuario" resultMap="RolResultMap">
		select C.codigo,
		C.nombre,
		C.descripcion,
		C.modulos_codigo,
		C.estado
		from mercado.usuarios A
		inner join mercado.perfiles_roles B on A.codigoPerfil = B.perfiles_codigo
		inner join mercado.roles C on C.codigo = B.roles_codigo
		where A.usuario = #{usuario} and C.estado = 1
	</select>
	
	<insert id="saveEntity" parameterType="Rol" >
        insert into mercado.roles(nombre,descripcion,modulos_codigo,estado) 
		values(#{nombre},#{descripcion},#{modulos_codigo},#{estado})
    </insert>
    
    <delete id="deleteEntity">
     Update mercado.roles
      set estado = 0
      where codigo = #{codigoRol}
    </delete>
    
    <update id="updateEntity" parameterType="Rol" >
      Update mercado.roles
      set nombre = #{nombre} ,
          descripcion = #{descripcion},
          modulos_codigo = #{modulos_codigo},
          estado = #{estado}
      where codigo = #{codigo}
    </update>
	
</mapper>