<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pe.gob.muni.apimercado.mapper.ISerieMapper">

	<resultMap id="SerieResultMap" type="Serie" />

	<select id="getEntity" resultMap="SerieResultMap">
		select id,
		fecha_creacion,
		creado_por,
		fecha_modificacion,
		modificado_por,
		eliminado_por,
		estado,
		descripcion,
		mercados_id,
		partidas_id from series where id = #{id}
	</select>

	<insert id="saveEntity" parameterType="Serie">
		insert into series(
		id,	fecha_creacion,	creado_por,
		fecha_modificacion,	modificado_por,	eliminado_por,
		estado,	descripcion,mercados_id,partidas_id )
		values(
		#{id},#{fecha_creacion},#{creado_por},#{fecha_modificacion},
		#{modificado_por},#{eliminado_por},#{estado},#{descripcion},#{mercados_id},#{partidas_id})
	</insert>

	<update id="deleteEntity">
		Update series
		set estado = 0
		where id = #{id}
	</update>

	<update id="updateEntity" parameterType="Serie">
		Update series
		set
		id = #{id},fecha_creacion = #{fecha_creacion},
		creado_por =
		#{creado_por}, fecha_modificacion = #{fecha_modificacion},
		modificado_por = #{modificado_por},eliminado_por = #{eliminado_por},
		estado = #{estado}, descripcion = #{descripcion},
		mercados_id = #{mercados_id}, partidas_id = #{partidas_id}
		where id = #{id}
	</update>

	<select id="pagingEntitys" resultMap="SerieResultMap">
		select id,
		fecha_creacion,
		creado_por,
		fecha_modificacion,
		modificado_por,
		eliminado_por,
		estado,
		descripcion,
		mercados_id,
		partidas_id 
		from series
		<if test="sort != null">
			ORDER BY ${sort} ${order}
		</if>
	</select>

	<select id="totalRecordEntity" resultType="int">
		select
		count(A.id)
		from series A
	</select>

</mapper>