<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pe.gob.muni.apimercado.mapper.ITarifaMapper">

	<resultMap id="TarifaResultMap" type="Tarifa" />

	<select id="getEntity" resultMap="TarifaResultMap">
		select id,
		fecha_creacion,
		creado_por,
		fecha_modificacion,
		modificado_por,
		eliminado_por,
		estado,codigo,monto from mercado.tarifas where idTarifa = #{idTarifa}
	</select>

	<insert id="saveEntity" parameterType="Tarifa">
		insert into mercado.tarifas(
		id,fecha_creacion,creado_por,fecha_modificacion,
		modificado_por,eliminado_por,estado,codigo,monto)
		values(
		#{id},#{fecha_creacion},#{creado_por},#{fecha_modificacion},
		#{modificado_por},#{eliminado_por},#{estado},#{codigo},#{monto})
	</insert>

	<update id="deleteEntity">
		Update mercado.tarifas
		set estado = 0
		where id = #{id}
	</update>

	<update id="updateEntity" parameterType="Tarifa">
		Update mercado.tarifas
		set
		id = #{id}, fecha_creacion = #{fecha_creacion},
		creado_por = #{creado_por}, fecha_modificacion = #{fecha_modificacion},
		modificado_por = #{modificado_por},eliminado_por = #{eliminado_por},
		estado = #{estado}, codigo = #{codigo}, monto = #{monto}
		where id = #{id}
	</update>

	<select id="pagingEntitys" resultMap="TarifaResultMap">
		select id,
		fecha_creacion,
		creado_por,
		fecha_modificacion,
		modificado_por,
		eliminado_por,
		estado,codigo,monto
		from mercado.tarifas
		limit #{inicio},#{fin}
	</select>

	<select id="totalRecordEntity" resultType="int">
		select
		count(A.id)
		from mercado.tarifas A
		
	</select>

</mapper>