<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pe.gob.muni.apimercado.mapper.ITicketMapper">

	<resultMap id="TicketResultMap" type="Ticket"/>
	
	<resultMap id="TicketDtoResultMap" type="TicketDto" />

	<select id="getEntity" resultMap="TicketResultMap">
		select id,
		mercados_id,
		ubicaciones_id,
		comerciantes_id,
		puestos_id,
		correlativo,
		estado_visita,
		observacion,
		estado,
		pagado,
		fecha_ticket,
		fecha_creacion,
		creado_por,
		fecha_modifcacion,
		modifcado_por,
		eliminado_por
		from tickets where id = #{id}
	</select>

	<select id="getAllEntitys" resultMap="TicketResultMap">
		select id,
		mercados_id,
		ubicaciones_id,
		comerciantes_id,
		puestos_id,
		correlativo,
		estado_visita,
		observacion,
		pagado,
		estado,
		fecha_ticket,
		fecha_creacion,
		creado_por,
		fecha_modifcacion,
		modifcado_por,
		eliminado_por
		from tickets
	</select>
	
	<select id="getAllTicketMercado" resultMap="TicketResultMap">
		select id,
		mercados_id,
		ubicaciones_id,
		comerciantes_id,
		puestos_id,
		correlativo,
		estado_visita,
		observacion,
		pagado,
		estado,
		fecha_ticket,
		fecha_creacion,
		creado_por,
		fecha_modifcacion,
		modifcado_por,
		eliminado_por
		from tickets
	</select>
	
	<select id="getTicketsFechaMercado" resultType="int">
		select
			count(*)
		from tickets
		<where>
        	<if test="mercados_id != 0"  >
				mercados_id = #{mercados_id}
			</if>
			<if test="fecha_ticket != null "  >
				AND cast(fecha_ticket as date) = cast(#{fecha_ticket} as date)
			</if>
		</where>
	</select>

	<insert id="saveEntity" parameterType="Ticket">
		insert into tickets(
		mercados_id,
		ubicaciones_id,
		comerciantes_id,
		puestos_id,
		correlativo,
		estado_visita,observaciones,pagado,estado,fecha_ticket,fecha_creacion, creado_por,
		fecha_modifcacion,
		modifcado_por,eliminado_por)
		values(#{mercados_id},#{ubicaciones_id},
		#{comerciantes_id},#{puestos_id},#{correlativo},#{estado_visita},
		#{observaciones},#{pagado},#{estado},#{fecha_ticket},#{fecha_creacion},#{creado_por},
		#{fecha_modifcacion},#{modifcado_por},#{eliminado_por})
	</insert>

	<insert id="saveAllTickets" parameterType="java.util.List" >
		insert into tickets(
		mercados_id,ubicaciones_id,
		comerciantes_id,puestos_id,correlativo,estado_visita,
		observaciones,pagado,estado,fecha_ticket,fecha_creacion, creado_por,
		fecha_modifcacion,modifcado_por,eliminado_por) values
		<foreach item="item" collection="list" separator=",">
			(#{item.mercados_id},#{item.ubicaciones_id},#{item.comerciantes_id},#{item.puestos_id},
			#{item.correlativo},#{item.estado_visita},#{item.observaciones},#{item.pagado},
			#{item.estado},#{item.fecha_ticket},#{item.fecha_creacion},#{item.creado_por},
			#{item.fecha_modifcacion},#{item.modifcado_por},#{item.eliminado_por})
		</foreach>
	</insert>

	<update id="deleteEntity">
		Update tickets
		set estado = 0
		where id = #{id}
	</update>
	
	<update id="marcarTicketPagado">
		Update tickets
		set pagado = 1,
		estado_visita = #{estado_visita}
		where id = #{id}
	</update>
	
	<update id="marcarEstadoVisitaTicket" parameterType="TicketVisita">
		Update tickets
		set estado_visita = #{estado_visita},
		 observaciones = #{observaciones},
		 fecha_obs = #{fecha_obs}
		where id = #{id}
	</update>

	<update id="updateEntity" parameterType="Ticket">
		Update tickets
		set
		mercados_id = #{mercados_id},
		ubicaciones_id = #{ubicaciones_id}
		comerciantes_id = #{comerciantes_id},
		puestos_id = #{partidas_id},
		correlativo = #{correlativo},
		estado_visita = #{estado_visita},
		observaciones = #{observaciones},
		pagado = #{pagado},
		estado = #{estado},
		fecha_ticket = #{fecha_ticket},
		fecha_creacion = #{fecha_creacion},
		creado_por = #{creado_por},
		fecha_modifcacion = #{fecha_modifcacion},
		modifcado_por = #{modifcado_por},
		eliminado_por = #{eliminado_por}
		where id = #{id}
	</update>
	
	<select id="pagingTickets" resultMap="TicketDtoResultMap"
		parameterType="pe.gob.muni.apimercado.utils.dto.PageTableTicket">
		select
		A.id,
        B.id puestos_id,
		B.codigo codigo_puesto,
		A.mercados_id,
		E.descripcion descripcion_mercado,
		B.conceptos_id,
		F.descripcion descripcion_concepto,
		A.ubicaciones_id,
		G.descripcion descripcion_ubicacion,
		B.giro_id,
		H.valor_cadena1 descripcion_giro,
		A.comerciantes_id,
		D.dni,
		D.nombres,
		D.apellidos,
		D.correo,
		D.telefono,
		A.estado,
		A.pagado,
		A.fecha_ticket,
		A.fecha_creacion,
		A.estado_visita,
		I.valor_cadena1 descripcion_visita,
		A.observaciones
		from tickets A
		inner join puestos B on B.id = A.puestos_id
        left join comerciantes C on C.id = A.comerciantes_id
        inner join personas D on D.id = C.personas_id
        inner join mercados E on E.id = A.mercados_id
        inner join conceptos F on F.id = B.conceptos_id
        inner join ubicaciones G on G.id = A.ubicaciones_id	
        inner join parametros H on H.codigo=2 and H.subcodigo = B.giro_id 
        inner join parametros I on I.codigo=3 and I.valor_entero = A.estado_visita
        <where>
        	<if test="pagado != 2"  >
				A.pagado = #{pagado}
			</if>
			<if test="fecha_incio != null and fecha_fin != null "  >
				AND cast(A.fecha_ticket as date) >= #{fecha_incio} and #{fecha_fin} >= cast(A.fecha_ticket as date) 
			</if>
			<if test="codigo_qr != null and codigo_qr != null "  >
				AND B.codigo_qr = #{codigo_qr}
			</if>
			<if test="comerciantes_id != '' and comerciantes_id != null">
				AND A.comerciantes_id = #{comerciantes_id} 
			</if>
			<if test="mercados_id != '' and mercados_id != null">
				AND A.mercados_id = #{mercados_id}
			</if>
			<if test="ubicaciones_id != '' and ubicaciones_id != null">
				AND A.ubicaciones_id = #{ubicaciones_id}
			</if>
		</where>
		<if test="sort != '' and sort != null">
			ORDER BY ${sort} ${order}
		</if>
	</select>

</mapper>