<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pe.gob.muni.apimercado.mapper.ITicketMapper">

	<resultMap id="TicketResultMap" type="Ticket"/>

	<select id="getEntity" resultMap="TicketResultMap">
		select id,
		mercados_id,
		ubicaciones_id,
		comerciantes_id,
		puestos_id,
		correlativo,
		no_habido,
		observacion,
		estado,
		fecha_creacion,
		creado_por,
		fecha_modifcacion,
		modifcado_por,
		eliminado_por
		from tickets where id = #{id}
	</select>

	<select id="getAllEntitys" resultMap="TicketResultMap">
		select id,
		mercados_id,
		ubicaciones_id,
		comerciantes_id,
		puestos_id,
		correlativo,
		no_habido,
		observacion,
		estado,
		fecha_creacion,
		creado_por,
		fecha_modifcacion,
		modifcado_por,
		eliminado_por
		from tickets
	</select>
	
	<select id="getAllTicketMercado" resultMap="TicketResultMap">
		select id,
		mercados_id,
		ubicaciones_id,
		comerciantes_id,
		puestos_id,
		correlativo,
		no_habido,
		observacion,
		estado,
		fecha_creacion,
		creado_por,
		fecha_modifcacion,
		modifcado_por,
		eliminado_por
		from tickets
	</select>

	<insert id="saveEntity" parameterType="Ticket">
		insert into tickets(
		mercados_id,
		ubicaciones_id,
		comerciantes_id,
		puestos_id,
		correlativo,
		no_habido,observaciones,estado,fecha_creacion, creado_por,
		fecha_modifcacion,
		modifcado_por,eliminado_por)
		values(#{mercados_id},#{ubicaciones_id},
		#{comerciantes_id},#{puestos_id},#{correlativo},#{no_habido},
		#{observaciones},#{estado},#{fecha_creacion},#{creado_por},
		#{fecha_modifcacion},#{modifcado_por},#{eliminado_por})
	</insert>

	<insert id="saveAllTickets" parameterType="java.util.List">
		insert into tickets(
		mercados_id,ubicaciones_id,
		comerciantes_id,puestos_id,correlativo,no_habido,
		observaciones,estado,fecha_creacion, creado_por,
		fecha_modifcacion,modifcado_por,eliminado_por) values
		<foreach item="item" collection="list" separator=",">
			(#{item.mercados_id},#{item.ubicaciones_id},#{item.comerciantes_id},#{item.puestos_id},#{item.correlativo},#{item.no_habido},#{item.observaciones},#{item.estado},#{item.fecha_creacion},#{item.creado_por},#{item.fecha_modifcacion},#{item.modifcado_por},#{item.eliminado_por})
		</foreach>
	</insert>

	<update id="deleteEntity">
		Update tickets
		set estado = 0
		where id = #{id}
	</update>

	<update id="updateEntity" parameterType="Ticket">
		Update tickets
		set
		mercados_id = #{mercados_id},
		ubicaciones_id = #{ubicaciones_id}
		comerciantes_id = #{comerciantes_id},
		puestos_id = #{partidas_id},
		correlativo = #{correlativo},
		no_habido = #{no_habido},
		observaciones = #{observaciones},
		estado = #{estado},
		fecha_creacion = #{fecha_creacion},
		creado_por = #{creado_por},
		fecha_modifcacion = #{fecha_modifcacion},
		modifcado_por = #{modifcado_por},
		eliminado_por = #{eliminado_por}
		where id = #{id}
	</update>

</mapper>