<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pe.gob.muni.apimercado.mapper.IUsuarioMapper">
	
	<resultMap id="PersonaResultMap" type="Persona" />
	
	<resultMap id="UsuarioResultMap" type="Usuario" extends="PersonaResultMap">
		<id property="idUsuario" column="id"/>	
	</resultMap>

	<select id="findByUsername" resultMap="UsuarioResultMap">
		select A.id,
		A.usuario,
		A.password,
		A.fechaUltAcc,
		A.perfiles_codigo,
		A.personas_id,
		A.activo,
		B.id,
		B.nombres,
		B.apellidos,
		B.dni,
		B.telefono,
		B.direccion,
		B.correo,
		B.fecha_nacimiento,
		B.estado,
		B.fecha_creacion,
		B.creado_por,
		B.fecha_modifcacion,
		B.modifcado_por,
		B.eliminado_por
		usuarioMod from usuarios A , personas B where A.personas_id = B.id and A.usuario = #{username}
	</select>
	
	<select id="getEntity" resultMap="UsuarioResultMap">
		select A.id,
		A.usuario,
		A.password,
		A.fechaUltAcc,
		A.perfiles_codigo,
		A.personas_id,
		A.activo,
		B.id,
		B.nombres,
		B.apellidos,
		B.dni,
		B.telefono,
		B.direccion,
		B.correo,
		B.fecha_nacimiento,
		B.estado,
		B.fecha_creacion,
		B.creado_por,
		B.fecha_modifcacion,
		B.modifcado_por,
		B.eliminado_por
		usuarioMod from usuarios A , personas B where A.personas_id = B.id and A.id = #{id}
	</select>
	
	<insert id="saveEntity" parameterType="Usuario" >
        insert into usuarios(usuario,password,fechaUltAcc,
		activo,perfiles_codigo,personas_id) 
		values( 
		#{usuario},#{password},#{fechaUltAcc},#{activo},
		#{perfiles_codigo},#{personas_id})
    </insert>
    
    <update id="disabledUserbyUsername">
     Update usuarios
      set activo = 0
      where usuario = #{username}
    </update>
    
    <update id="deleteEntity">
     Update usuarios
      set activo = 0
      where id = #{idUsuario}
    </update>
    
    <update id="actualizarUserByUsername" parameterType="Usuario" >
      Update usuarios
      set 
      usuario = #{usuario},
      password = #{password}, fechaUltAcc = #{fechaUltAcc},
	  activo = #{activo}, perfiles_codigo = #{perfiles_codigo}
      where usuario = #{usuario}
    </update>
    
     <update id="updateEntity" parameterType="Usuario" >
      Update usuarios
      set 
      usuario = #{usuario},
      password = #{password}, fechaUltAcc = #{fechaUltAcc},
	  activo = #{activo}, perfiles_codigo = #{perfiles_codigo}
      where id = #{idUsuario}
    </update>
    
    <select id="pagingEntitys" resultMap="UsuarioResultMap" parameterType="pe.gob.muni.apimercado.utils.dto.GeneralPageTable">
		select A.id,
		A.usuario,
		A.password,
		A.fechaUltAcc,
		A.perfiles_codigo,
		A.personas_id,
		A.activo,
		B.id,
		B.nombres,
		B.apellidos,
		B.dni,
		B.telefono,
		B.direccion,
		B.correo,
		B.fecha_nacimiento,
		B.estado,
		B.fecha_creacion,
		B.creado_por,
		B.fecha_modifcacion,
		B.modifcado_por,
		B.eliminado_por,
		C.mercados_id,
		D.nombre nombre_perfil
		from usuarios A 
		inner join personas B on A.personas_id = B.id 
		left join cobradores C on C.personas_id = B.id
		inner join perfiles D on A.perfiles_codigo = D.id
		<where>
			<if test="search != null">
				and 
				CONCAT(apellidos) LIKE CONCAT(#{search},'%')
			</if>
		</where>
		<if test="sort != '' and sort != null">
			ORDER BY ${sort} ${order}
		</if>
	</select>
	
	<select id="getAllEntitys" resultMap="UsuarioResultMap">
		select A.id,
		A.usuario,
		A.password,
		A.fechaUltAcc,
		A.perfiles_codigo,
		A.personas_id,
		A.activo,
		B.id,
		B.nombres,
		B.apellidos,
		B.dni,
		B.telefono,
		B.direccion,
		B.correo,
		B.fecha_nacimiento,
		B.estado,
		B.fecha_creacion,
		B.creado_por,
		B.fecha_modifcacion,
		B.modifcado_por,
		B.eliminado_por
		usuarioMod from usuarios A , personas B where A.personas_id = B.id 
	</select>
    
</mapper>