<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN1">%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} %p %m%n</Property>
        <Property name="LOG_PATTERN2">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%-5level] %logger{36} - %msg%n</Property>
        <Property name="APP_LOG_ROOT">${sys:user.home}/apimercado/logs</Property>
    </Properties>
    
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN2}" />
        </Console>
 
        <RollingFile name="AppFileLog"
            fileName="${APP_LOG_ROOT}/apimercado.log"
            filePattern="${APP_LOG_ROOT}/apimercado-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${LOG_PATTERN2}" />
            <Policies>
                <SizeBasedTriggeringPolicy size="19500KB" />
            </Policies>
            <DefaultRolloverStrategy max="1" />
        </RollingFile>                 
    </Appenders>
    
    <Loggers>
        <AsyncLogger name="com.journaldev" level="INFO"/>			
		<AsyncLogger name="org.springframework" level="INFO"/>
    	<AsyncLogger name="org.hibernate" level="INFO"/>
    	<AsyncLogger name="pe.gob.muni.apimercado" level="INFO"/>
        <AsyncRoot>
            <AppenderRef ref="Console" level="ALL" />
            <AppenderRef ref="AppFileLog" level="ALL"/>
        </AsyncRoot>
    </Loggers>
</Configuration>